<a href="https://colab.research.google.com/github/R0N3ldrt/Thesis/blob/main/new_spectrum_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Synthetic Constellation

# Loading Necesary Libraries

In [1]:
# Importing necesary libraries
# Libraries for correct code execution 

import os, time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import pickle
import random
import csv
import re
from tqdm import tqdm

from random import random, gauss
from math import modf, pi, cos, sin, sqrt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from plotly.subplots import make_subplots

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

from keras.models import Sequential
from keras.layers import Dense,Conv2D, Flatten
from keras.wrappers.scikit_learn import KerasRegressor
from keras.callbacks import EarlyStopping
from sklearn.mixture import GaussianMixture

import warnings
warnings.filterwarnings("ignore")

# Load Enviroment

In [2]:
# BLOQUE PARA USAR DESDE COLAB

# Google drive loading as work station for local-usage of the files.
from google.colab import drive
drive.mount('/content/gdrive',force_remount= True)

#-----------------------------------------------------------------------------

Mounted at /content/gdrive

In [4]:
# Lista para cambiar los paths rapido.
workers = ["Ronald", "Local"]

# Change the number to change the paths.
worker = workers[0]

if worker == "Ronald":
  path = "/content/gdrive/MyDrive/Thesis_Workstation/ANN_dataset"
else: path = os.getcwd()

# Load Datasets

In [5]:
input_path = path + "/Spectrum/16QAM/25spans80km_withoutROADMs/dataSet_Spectrum31MHz_Samples_16QAM_75GHz_LongHaul_input_25x80km.xlsx"

In [21]:
df = pd.read_excel(input_path, sheet_name = "Sheet1", skiprows=1)

In [22]:
# Dropping rows that are empty
drop_rows = [drop_row for drop_row in range(325, df.shape[0])]
df_13_samples = df.drop(drop_rows)

In [30]:
print([row for row in range(1, 14)])
print([row for row in range(0, 25)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [48]:
# Adding missing PBRS_id
snippet = []
val_cnt = 1
idx = 0
for sample in range(1, 14):
  for sample_id in range(0, 25):
    df_13_samples.at[idx, 'PBRS_id'] = val_cnt
    idx +=1
    snippet.append(val_cnt)
  val_cnt += 1

In [49]:
display(df_13_samples.head(30))

,row,PBRS_id,Channels,Distance_km,power_dBm,#span,-40,-39.96875,-39.9375,-39.90625,...,39.7187499999999,39.7499999999999,39.7812499999999,39.8124999999999,39.8437499999999,39.8749999999999,39.9062499999999,39.9374999999999,39.9687499999999,39.9999999999999
0,1,1.0,1,80.0,0,1,-334.501270,-333.132364,-325.572794,-336.320168,...,-335.056696,-328.066995,-325.754530,-328.066995,-328.066995,-325.395278,-321.992445,-328.886037,-322.977492,-335.056696
1,2,1.0,1,160.0,0,2,-338.049215,-327.846616,-327.474368,-338.873124,...,NaN,-321.746918,-326.565933,-322.586533,-341.617433,-322.586533,NaN,-331.617433,-328.607133,-328.144133
2,3,1.0,1,240.0,0,3,-335.915875,-332.459387,-349.826960,-328.583144,...,-326.872508,-333.434423,-329.882808,-329.882808,-331.686340,-325.665740,-335.903408,-326.872508,-329.882808,-328.913708
3,4,1.0,1,320.0,0,4,-330.110140,-337.262521,-332.736237,-339.124990,...,-336.294415,-330.273815,-329.274286,-329.304715,-321.242915,-320.731390,-328.335615,-325.154982,-326.294415,-330.273815
4,5,1.0,1,400.0,0,5,-336.413189,-330.762275,-332.048845,-337.871202,...,-331.093800,-336.602875,NaN,-329.155600,-324.104100,NaN,-333.027762,NaN,-343.135000,-337.114400
5,6,1.0,1,480.0,0,6,-334.629354,-330.059606,-328.975435,-330.110459,...,-329.875835,-335.896435,-327.937635,-325.789196,-330.777601,-335.896435,-322.886135,-332.374609,NaN,NaN
6,7,1.0,1,560.0,0,7,-330.082193,-334.222380,-330.919059,-334.445781,...,-334.338122,-322.593018,-328.350329,-334.634218,-322.329729,-336.163893,-331.623918,-325.091793,-325.603318,-339.452671
7,8,1.0,1,640.0,0,8,-337.088023,-327.723376,-331.554892,-331.269116,...,-324.233393,NaN,-324.574060,-334.471060,-333.501960,-327.481360,-325.440160,-327.481360,-326.512260,-334.471060
8,9,1.0,1,720.0,0,9,-336.557903,-339.822012,-332.087141,-330.709086,...,-329.250520,-328.281420,-329.047523,-329.100461,-326.781536,-322.505066,-332.960990,-326.240220,-325.728695,-333.069631
9,10,1.0,1,800.0,0,10,-333.856550,-334.218866,-337.517486,-333.955517,...,-328.699251,-328.631917,-328.699251,-328.631917,-333.750751,-323.838490,-321.484752,-329.601017,-325.177426,-334.456562
10,11,1.0,1,880.0,0,11,-39.844572,-43.960394,-45.753877,-43.670813,...,-47.004933,-40.619034,-50.304041,-44.009951,-37.192879,-36.508737,-46.127920,-43.322649,-45.968969,-45.596048
11,12,1.0,1,960.0,0,12,-47.724358,-40.054612,-40.804103,-44.583920,...,-50.480554,-50.624194,-45.929942,-40.857120,-50.799921,-40.415983,-41.450610,-41.787585,-45.373767,-37.430899
12,13,1.0,1,1040.0,0,13,-50.143397,-35.618748,-46.842849,-40.037431,...,-44.320837,-52.513250,-48.596095,-45.564403,-47.117885,-37.135902,-65.135437,-46.976909,-47.639177,-42.544868
13,14,1.0,1,1120.0,0,14,-41.069602,-40.196969,-49.071199,-52.164183,...,-38.856791,-45.682108,-47.422458,-40.724675,-43.665256,-41.115092,-42.172519,-45.863363,-46.768385,-46.248401
14,15,1.0,1,1200.0,0,15,-46.406938,-51.161388,-46.358065,-47.700143,...,-43.652922,-56.742188,-45.550116,-62.122239,-50.351370,-44.293278,-43.463769,-47.834434,-49.800060,-40.972806
15,16,1.0,1,1280.0,0,16,-39.253727,-41.851155,-52.921825,-45.575502,...,-43.618302,-51.192527,-43.217810,-49.750482,-40.564775,-58.604325,-54.107419,-47.834705,-40.657872,-40.641292
16,17,1.0,1,1360.0,0,17,-43.666804,-43.225388,-58.041704,-46.582949,...,-42.277805,-36.968163,-57.552224,-36.397364,-35.021710,-38.818490,-41.337536,-40.767300,-45.247204,-36.612308
17,18,1.0,1,1440.0,0,18,-50.859070,-43.322062,-45.492032,-44.540447,...,-37.668256,-43.627168,-36.109107,-38.053748,-40.385689,-46.994945,-50.426829,-39.519711,-45.939023,-43.613410
18,19,1.0,1,1520.0,0,19,-48.139243,-47.261183,-51.611947,-44.037245,...,-39.068824,-44.142962,-46.570819,-47.421244,-38.161306,-40.660527,-43.703451,-45.618801,-40.442633,-43.614043
19,20,1.0,1,1600.0,0,20,-56.503482,-46.586377,-38.142812,-40.137442,...,-45.596167,-56.687760,-42.620819,-39.120538,-52.593372,-40.646290,-52.251492,-45.359717,-49.437571,-43.552212
20,21,1.0,1,1680.0,0,21,-48.887456,-47.821980,-37.497760,-50.590104,...,-42.548125,-39.277017,-42.305496,-56.412210,-36.644320,-41.672155,-37.388726,-49.394993,-55.542697,-36.357317
21,22,1.0,1,1760.0,0,22,-42.586022,-46.493522,-44.259499,-37.860673,...,-41.284467,-44.123641,-45.960261,-43.536065,-41.312115,-45.675662,-38.887498,-48.642103,-43.197838,-54.458259
22,23,1.0,1,1840.0,0,23,-43.842452,-37.511904,-46.795873,-45.813109,...,-37.951841,-41.220399,-56.888622,-42.639378,-44.448868,-45.340644,-39.279656,-41.345565,-41.083708,-36.169552
23,24,1.0,1,1920.0,0,24,-42.752340,-49.449001,-37.920335,-41.936050,...,-52.499025,-43.088925,-39.708740,-41.790746,-45.598044,-48.203928,-45.935019,-46.341141,-45.794066,-42.414695
24,25,1.0,1,2000.0,0,25,-45.277086,-46.356938,-43.022977,-60.683163,...,-52.686976,-43.103465,-49.652157,-43.283024,-52.014900,-46.871120,-41.530679,-45.815345,-45.957154,-49.317476
25,26,2.0,1,80.0,0,1,-44.948185,-43.232482,-43.551969,-38.996796,...,-39.338313,-39.089249,-43.301190,-47.664149,-42.266393,-61.354829,-43.676227,-49.987733,-41.995212,-55.191631
26,27,2.0,1,160.0,0,2,-37.457223,-36.365792,-45.517447,-51.893549,...,-43.175525,-39.328364,-43.662449,-36.770699,-39.568720,-38.929357,-48.358611,-50.992629,-39.576792,-36.221206
27,28,2.0,1,240.0,0,3,-42.430103,-39.857991,-36.629100,-35.283343,...,-43.265837,-38.061626,-36.788133,-51.785091,-59.207016,-44.890624,-49.267362,-40.947130,-41.941333,-45.065924
28,29,2.0,1,320.0,0,4,-42.978211,-46.412406,-52.962494,-43.963914,...,-46.039158,-37.623838,-39.807212,-42.101323,-54.705574,-54.438718,-40.530776,-52.137318,-40.152334,-41.102009
29,30,2.0,1,400.0,0,5,-43.024715,-42.664784,-41.689534,-41.542510,...,-52.240909,-38.701337,-35.381588,-42.784691,-46.300146,-41.764886,-45.764980,-56.842171,-37.025401,-37.872299