<a href="https://colab.research.google.com/github/R0N3ldrt/Thesis/blob/main/spectrum-1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading Enviroment

## Loading Drive and folders

In [3]:
# BLOQUE PARA USAR DESDE COLAB

# Google drive loading as work station for local-usage of the files.
from google.colab import drive
drive.mount('/content/gdrive',force_remount= True)

#-----------------------------------------------------------------------------

Mounted at /content/gdrive

In [4]:
# Lista para cambiar los paths rapido.
workers = ["Ronald", "Local"]

# Cambiar el numero aqui para cambiar los paths.
worker = workers[0]

if worker == "Ronald":
  path= "/content/gdrive/MyDrive/Thesis_Workstation/ANN_dataset"
else: path = os.getcwd()

## Loading Necesary Libraries

In [5]:
# Importing necesary libraries
import os, time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import pickle
from sklearn.linear_model import LinearRegression

import warnings
warnings.simplefilter("ignore", UserWarning)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Loading Data and Pre-Procesing

In [115]:
data_path=path+"/Spectrum"

qpsk_path="/QPSK/A.10hops100km/"
qam_path="/16QAM/A.10hops100km"

#file_name="/dataSet_Spectrum_Samples_QPSK_37GHz_LongHaul_output_10x100.xlsx"
file_name="/QPSK_dummy.xlsx"
# Skipping first row since only contain "Frequency" headers
df_qpsk=pd.read_excel(data_path+qpsk_path+file_name, sheet_name = "Sheet1", skiprows=1)

#file_name="/dataSet_Spectrum_Samples_16QAM_75GHz_LongHaul_output_10x100.xlsx"
file_name="/16QAM_dummy.xlsx"
df_qam=pd.read_excel(data_path+qam_path+file_name, sheet_name = "Sheet1", skiprows=1)

#Diff in column 5 to 1,286 0.03125

In [7]:
#dump_file = dict desireed to be saved
#filename = just the name of the file (file saved on "pickle_folder")

def pickle_out(dump_file, filename):
  filepath = path+"/pickle_folder/"+str(filename)+".pickle"
  pickleout = open(filepath, "wb")
  pickle.dump(dump_file, pickleout)
  pickleout.close()

def pickle_in(filename):
  filepath = path+"/pickle_folder/"+str(filename)+".pickle"
  picklein = open(filepath, "rb")
  loaded_dict = pickle.load(picklein)
  return loaded_dict

## Aggregator

In [8]:
def prime_number_finder(stop_gap, total_num_of_data):
  prime_nums = []
  i=2
  while i <= stop_gap:
    if (total_num_of_data % i==0):
      prime_nums.append(i)
    i+=1
  return prime_nums

def aggreagator_selection(stop_gap=25, total_num_of_data=1281):
  current_freq_offset = 0.03125
  
  # Find the prime numbers where the total_num_of_data is divisible
  prime_nums = prime_number_finder(stop_gap, total_num_of_data)
  
  # Find the offsets of the new aggregators
  new_freq_offsets = []
  for nums in prime_nums:
    freq_offset = current_freq_offset*(nums-1)
    new_freq_offsets.append(freq_offset)

  # Ask the user for the desired aggregator
  print('Please select one of the following prime number to conduct the aggregation {} with frequencies offsets of {}(PHz) respectively. (Current Freq offset is 0.03125 PHz)'.format(prime_nums, new_freq_offsets))
  while True:
    user_selection = input('Prime number to conduct the aggregation? ')
    if int(user_selection) not in prime_nums:
      print('Please select one of the available prime numbers. (Current selection is not avaliable)')
    else:
      break
  return int(user_selection)

def aggreagator(df, stop_gap=25, total_num_of_data=1281):
  agg_num = aggreagator_selection(stop_gap, total_num_of_data)
  
  # Creating new df of aggregate values
  agg_df = pd.DataFrame()
  agg_df = df[df.columns[0:5]]

  agg=0
  loop_cnt=0
  init_column_cnt = 5
  while agg<=total_num_of_data:
    loop_cnt+=1
    # Obtain current last columns stop
    agg=agg_num+init_column_cnt
    # Select working columns
    new_df = df[df.columns[init_column_cnt:agg]]

    init_column_cnt += (agg_num)
    #print(init_column_cnt)
    # Get average of freq values for new header
    headers = list(new_df.columns.values)
    headers_array = np.asarray(headers)
    new_header_name = np.mean(headers_array)

    # Add aggragated values to new df
    agg_df[str(new_header_name)] = new_df.mean(axis = 1)
  agg_dict = agg_df.to_dict()
  return agg_df, agg_dict

In [9]:
# QPSK AGG
stop = 7
QPSK_agg_df, QPSK_agg_dict = aggreagator(df_qpsk, stop_gap=100, total_num_of_data=1281)
pickle_out(QPSK_agg_dict, "test_agg_spectrum_QPSK_"+str(stop))

Please select one of the following prime number to conduct the aggregation [3, 7, 21, 61] with frequencies offsets of [0.0625, 0.1875, 0.625, 1.875](PHz) respectively. (Current Freq offset is 0.03125 PHz)
Prime number to conduct the aggregation? 3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [10]:
# QPSK QAM
stop = 7
QAM_agg_df, QAM_agg_dict = aggreagator(df_qam, stop_gap=100, total_num_of_data=1281)
pickle_out(QAM_agg_dict, "agg_spectrum_QAM_"+str(stop))

Please select one of the following prime number to conduct the aggregation [3, 7, 21, 61] with frequencies offsets of [0.0625, 0.1875, 0.625, 1.875](PHz) respectively. (Current Freq offset is 0.03125 PHz)
Prime number to conduct the aggregation? 3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [11]:
pickle_dummy_dict = pickle_in("agg_spectrum_QPSK_7")

print(pickle_dummy_dict.keys())
pickle_dummy_dict['-19.90625'].values()

dict_keys(['sampleid', 'Channels', 'Distance_km', 'power_dBm', '#node', '-19.90625', '-19.6875', '-19.46875', '-19.25', '-19.03125', '-18.8125', '-18.59375', '-18.375', '-18.15625', '-17.9375', '-17.71875', '-17.5', '-17.28125', '-17.0625', '-16.84375', '-16.625', '-16.40625', '-16.1875', '-15.96875', '-15.75', '-15.53125', '-15.3125', '-15.09375', '-14.875', '-14.65625', '-14.4375', '-14.21875', '-14.0', '-13.78125', '-13.5625', '-13.34375', '-13.125', '-12.90625', '-12.6875', '-12.46875', '-12.25', '-12.03125', '-11.8125', '-11.59375', '-11.375', '-11.15625', '-10.9375', '-10.71875', '-10.5', '-10.28125', '-10.0625', '-9.84375', '-9.625', '-9.40625', '-9.1875', '-8.96875', '-8.75', '-8.53125', '-8.3125', '-8.09375', '-7.875', '-7.65625', '-7.4375', '-7.21875', '-7.0', '-6.78125', '-6.5625', '-6.34375', '-6.125', '-5.90625', '-5.6875', '-5.46875', '-5.25', '-5.03125', '-4.8125', '-4.59375', '-4.375', '-4.15625', '-3.9375', '-3.71875', '-3.5', '-3.28125', '-3.0625', '-2.84375', '-2.625', '-2.40625', '-2.1875', '-1.96875', '-1.75', '-1.53125', '-1.3125', '-1.09375', '-0.875', '-0.65625', '-0.4375', '-0.21875', '0.0', '0.21875', '0.4375', '0.65625', '0.875', '1.09375', '1.3125', '1.53125', '1.75', '1.96875', '2.1875', '2.40625', '2.625', '2.84375', '3.0625', '3.28125', '3.5', '3.71875', '3.9375', '4.15625', '4.375', '4.59375', '4.8125', '5.03125', '5.25', '5.46875', '5.6875', '5.90625', '6.125', '6.34375', '6.5625', '6.78125', '7.0', '7.21875', '7.4375', '7.65625', '7.875', '8.09375', '8.3125', '8.53125', '8.75', '8.96875', '9.1875', '9.40625', '9.625', '9.84375', '10.0625', '10.28125', '10.5', '10.71875', '10.9375', '11.15625', '11.375', '11.59375', '11.8125', '12.03125', '12.25', '12.46875', '12.6875', '12.90625', '13.125', '13.34375', '13.5625', '13.78125', '14.0', '14.21875', '14.4375', '14.65625', '14.875', '15.09375', '15.3125', '15.53125', '15.75', '15.96875', '16.1875', '16.40625', '16.625', '16.84375', '17.0625', '17.28125', '17.5', '17.71875', '17.9375', '18.15625', '18.375', '18.59375', '18.8125', '19.03125', '19.25', '19.46875', '19.6875', '19.90625'])

dict_values([-52.58722602859268, -51.777602184478255, -53.00329057493259, -55.85847203872787, -54.2264411002062, -54.25347624625919, -53.365185015537925, -55.05460739835035, -52.92877612025617, -52.734421550389584, -58.74401826893385, -48.63746686499979, -56.44660670882369, -48.27247617292802, -53.83972599255794, -54.86937274897692, -55.57411278690153, -50.50396703594872, -49.60572093699432, -48.25319561224723, -52.59046914587442, -57.682477991353736, -52.252890223122314, -50.8665340356822, -54.364867952225744, -53.78109273171549, -56.467180752635876, -54.85119620354811, -51.14296407836939, -52.152817983536906, -53.782106603484635, -53.73058069785552, -58.21894447645663, -52.03413220002404, -57.14900409612067, -51.53686851443755, -56.55314159430914, -55.86559874058809, -50.81783926823658, -53.23959353985477, -55.558113381428825, -54.21257727879089, -52.67069707227461, -52.89647545667034, -56.07426908330729, -54.99347767231384, -54.90215012347203, -50.34181293124205, -53.14101521054793, -54.56950099581009, -55.657826858513076, -52.11403014656232, -56.232113319567034, -53.844172944604324, -54.518130773910194, -54.68461723034433, -56.41867283284314, -54.68704637875316, -53.282582677478615, -56.63290998819308, -54.22974292312674, -55.69163397831621, -57.081921137861606, -51.16792878036064, -54.65118534202269, -53.08143825471181, -55.29953203826931, -57.82224957058658, -55.43588721264637, -57.96364963814187, -57.61327457546668, -53.74721584920758, -54.61039563823548, -51.80532354715077, -55.99244307789221, -56.79934298448813, -53.5518354391643, -59.307628041685476, -56.78932442599962, -54.072210307581756, -56.7680285221184, -53.40333949515604, -51.94998167554805, -51.83572042414754, -55.74509191714539, -51.35800936495006, -53.30948850062604, -54.78026870837864, -54.967433535180156, -54.38383565918549, -56.77324728712897, -55.010054217273435, -56.37326885707903, -54.58781725100989, -58.22869246326622, -55.09893138870295, -56.989278234543505, -53.58598637494818, -56.796125820611294, -58.40500192263663, -51.07031777958652, -48.66531584267837, -52.11948848443542, -48.547137815335994, -48.98021012822494, -50.24923585405769, -51.14825047394451, -50.41058089482518, -46.30598964691537, -51.15475977166286, -53.52716196426208, -53.195534431305816, -55.45273115047023, -56.6952304823396, -54.365213940640025, -57.3505218998969, -52.68776398222722, -52.01536996827765, -53.49542858418257, -53.33995680382128, -53.03170049727198, -55.97808378603448, -51.010955038637675, -55.5779031044609, -55.20990830115903, -53.1758496028207, -54.985521515382814, -54.86667026192289, -56.43324938646277, -53.1490092221705, -58.26512597716246, -58.842134730043895, -51.010338928547085, -50.197078114856815, -53.05327338665531, -54.5713270639583, -54.119043597980045, -50.100558877372336, -53.594632038418766, -55.452925578733, -55.70717256347064, -53.80847715885364, -53.94078602548829, -51.715265584705925, -58.20773945922938, -54.520459901288525, -58.85881570557727, -55.06066094678299, -53.20115797499717, -54.50932472419311, -59.20416199705968, -52.575312648874466, -56.493655832020444, -57.01575276090689, -56.69799269961184, -57.42172658540951, -51.3187736957935, -54.1219037916946, -56.12355228489163, -54.6788183562107, -55.02089137481842, -52.45315138392679, -57.35248096029493, -56.363299421395084, -54.8088437305825, -53.49769457272885, -51.35928460757514, -54.339250488008474, -56.24212148800706, -56.20910323503508, -52.28422504743225, -56.35282836862852, -56.97297001156544, -54.978307073031495, -56.35235828365625, -56.18945773086153, -54.970052631604915, -56.8481364718675, -57.17649118521769, -52.809488791783, -56.47984170550818, -55.103682284208766, -56.00804388629873, -56.33821172684882, -56.48511484966282, -59.431521225286026, -54.27260609446604, -57.3131407721541, -52.62208823488969, -57.81023796180034, -59.29777089171115, -51.66445184032528, -55.99087568965511, -54.79872575864299, -54.967171730581654, -54.96817740330267, -56.5488775549725, -53.49328162561126, -55.50266942203614, -54.21130492502997, -57.97880796334304, -54.767966785881484, -57.03565809285414, -59.23224006633732, -60.248788042829425, -57.156122085506816, -54.75736898842258, -55.54224189840346, -56.28335672078514, -53.44057692950385, -50.56162048344531, -46.79214020670814, -47.31153226771878, -49.62305606446066, -49.20081481182872, -51.12462814736055, -48.58292754144134, -48.967926085217414, -47.58623519910193, -46.65311401242748, -53.181149001215395, -52.52115075567455, -54.18946462738351, -56.64336202585414, -53.84657861307121, -58.54396676619285, -55.66121460777466, -58.1702257227681, -55.846222400581624, -59.58801004915222, -57.31044759018609, -54.685802997295134, -53.417522037870995, -52.110822468628704, -56.966725308958566, -55.732624373908386, -55.94133466853574, -50.19111036122434, -61.32356773356457, -57.11958180790741, -56.24325737442613, -53.58151986955511, -54.031583345921824, -54.85497555901331, -54.56946038017649, -50.84697218488988, -57.68494732528924, -53.52205282539972, -56.61545873905067, -55.639525404079556, -52.79250282532947, -54.65426171893694, -57.51416306405522, -54.42428166157608, -56.93623783347298, -54.68566933526773, -58.255404769760034, -55.63351246475036, -56.72867101452341, -57.79393116734885, -52.55045660855331, -57.68803766185939, -57.02173993179031, -53.44094742346734, -56.576483322514356, -55.801115817172914, -57.619043283195246, -56.16285894534182, -54.63265862398737, -58.020134008459344, -63.724702278162674, -55.28549524121781, -57.23461295948021, -57.71748005492675, -58.73100440807137, -60.33713736249997, -57.58324690121464, -54.96282392366475, -56.16211571043207, -58.08362031760365, -56.610496572660495, -58.18656154758168, -54.99029212006589, -57.12002570005658, -55.787747612641816, -55.375777967445295, -57.5238434973955, -57.229804090307695, -59.25169578355063, -57.86668670080104, -55.142424932382745, -55.304113573096586, -54.95158159688856, -58.73252192703561, -58.13898710698966, -57.060860527467185, -63.68998448647777, -53.22849255984536, -56.761306332160295, -59.461908764987, -57.4690201878232, -54.384701414002485, -55.939663274471734, -58.178759495278904, -57.102820362077246, -60.42516872957077, -56.40980771277704, -55.007137136138056, -55.80922780628747, -56.79926635836709, -56.147523998509875, -58.42934536953703, -56.17281171029266, -56.86396681287806, -56.26493058847721, -57.365000872936015, -57.96153634239864, -56.5941845276659, -55.37519712222456, -58.14944330429926, -49.131622878053456, -48.39608121801012, -49.781544875348025, -46.38250572462099, -50.491851820989254, -47.03321555415813, -52.986302542903836, -49.08510753487322, -48.819742962504044, -47.60329629427986])

##Dummy Model

In [12]:
def get_dummy_spectrum(df):
  new_df = df.groupby(['#node']).mean()
  new_df.drop(['sampleid', 'Channels', 'power_dBm'], axis = 1, inplace = True)
  dummy_dict = new_df.to_dict()
  
  return new_df, dummy_dict

In [13]:
#new_df = 
#node	| Distance_km	|-20	      |-19.96875	|-19.9375																						
#1	    | 0.0	        |-52.955056	|-54.126681	|-52.713840	
#2	    | 100.0	      |-51.813386	|-53.194155	|-52.697528
#3	    | 200.0	      |-55.626777	|-54.634329	|-54.702958

#dummy_dict.keys() = dict_keys(['Distance_km', -20, -19.96875, -19.9375, -19.90625, -19.875, -19.84375...
#dummy_dict[-20].values() = dict_values([-52.955056039, -51.813386274, -55.626777088])

In [14]:
# Dummy Model QPSK
QPSK_dummy_df, QPSK_dummy_dict = get_dummy_spectrum(QPSK_agg_df)
pickle_out(QPSK_dummy_dict, "dummy_AGG_spectrum_QPSK")

In [15]:
# Dummy Model QAM
QAM_dummy_df, QAM_dummy_dict = get_dummy_spectrum(QAM_agg_df)
pickle_out(QAM_dummy_dict, "dummy_AGG_spectrum_QAM")

In [16]:
pickle_dummy_dict = pickle_in("dummy_AGG_spectrum_QPSK")
pickle_dummy_dict['Distance_km'].values()

dict_values([0.0, 100.0, 200.0])

# Processing

In [17]:
# Aggregated model
pickle_agg_QPSK_dict = pickle_in("test_agg_spectrum_QPSK_7")
pickle_agg_AQM_dict = pickle_in("test_agg_spectrum_QAM_7")

# Dummy models
pickle_dummy_QPSK_dict = pickle_in("test_dummy_AGG_spectrum_QPSK")
pickle_dummy_QAM_dict = pickle_in("test_dummy_AGG_spectrum_QAM")

In [18]:
#new_df = 
#node	  | Distance_km	|-20	      |-19.96875	|-19.9375																						
#1	    | 0.0	        |-52.955056	|-54.126681	|-52.713840	
#2	    | 100.0	      |-51.813386	|-53.194155	|-52.697528
#3	    | 200.0	      |-55.626777	|-54.634329	|-54.702958

#dummy_dict.keys() = dict_keys(['Distance_km', -20, -19.96875, -19.9375, -19.90625, -19.875, -19.84375...
#dummy_dict[-20].values() = dict_values([-52.955056039, -51.813386274, -55.626777088])

In [19]:
print(pickle_agg_QPSK_dict.keys())
pickle_dummy_QAM_dict['-39.90625'].values()

dict_keys(['sampleid', 'Channels', 'Distance_km', 'power_dBm', '#node', '-19.96875', '-19.875', '-19.78125', '-19.6875', '-19.59375', '-19.5', '-19.40625', '-19.3125', '-19.21875', '-19.125', '-19.03125', '-18.9375', '-18.84375', '-18.75', '-18.65625', '-18.5625', '-18.46875', '-18.375', '-18.28125', '-18.1875', '-18.09375', '-18.0', '-17.90625', '-17.8125', '-17.71875', '-17.625', '-17.53125', '-17.4375', '-17.34375', '-17.25', '-17.15625', '-17.0625', '-16.96875', '-16.875', '-16.78125', '-16.6875', '-16.59375', '-16.5', '-16.40625', '-16.3125', '-16.21875', '-16.125', '-16.03125', '-15.9375', '-15.84375', '-15.75', '-15.65625', '-15.5625', '-15.46875', '-15.375', '-15.28125', '-15.1875', '-15.09375', '-15.0', '-14.90625', '-14.8125', '-14.71875', '-14.625', '-14.53125', '-14.4375', '-14.34375', '-14.25', '-14.15625', '-14.0625', '-13.96875', '-13.875', '-13.78125', '-13.6875', '-13.59375', '-13.5', '-13.40625', '-13.3125', '-13.21875', '-13.125', '-13.03125', '-12.9375', '-12.84375', '-12.75', '-12.65625', '-12.5625', '-12.46875', '-12.375', '-12.28125', '-12.1875', '-12.09375', '-12.0', '-11.90625', '-11.8125', '-11.71875', '-11.625', '-11.53125', '-11.4375', '-11.34375', '-11.25', '-11.15625', '-11.0625', '-10.96875', '-10.875', '-10.78125', '-10.6875', '-10.59375', '-10.5', '-10.40625', '-10.3125', '-10.21875', '-10.125', '-10.03125', '-9.9375', '-9.84375', '-9.75', '-9.65625', '-9.5625', '-9.46875', '-9.375', '-9.28125', '-9.1875', '-9.09375', '-9.0', '-8.90625', '-8.8125', '-8.71875', '-8.625', '-8.53125', '-8.4375', '-8.34375', '-8.25', '-8.15625', '-8.0625', '-7.96875', '-7.875', '-7.78125', '-7.6875', '-7.59375', '-7.5', '-7.40625', '-7.3125', '-7.21875', '-7.125', '-7.03125', '-6.9375', '-6.84375', '-6.75', '-6.65625', '-6.5625', '-6.46875', '-6.375', '-6.28125', '-6.1875', '-6.09375', '-6.0', '-5.90625', '-5.8125', '-5.71875', '-5.625', '-5.53125', '-5.4375', '-5.34375', '-5.25', '-5.15625', '-5.0625', '-4.96875', '-4.875', '-4.78125', '-4.6875', '-4.59375', '-4.5', '-4.40625', '-4.3125', '-4.21875', '-4.125', '-4.03125', '-3.9375', '-3.84375', '-3.75', '-3.65625', '-3.5625', '-3.46875', '-3.375', '-3.28125', '-3.1875', '-3.09375', '-3.0', '-2.90625', '-2.8125', '-2.71875', '-2.625', '-2.53125', '-2.4375', '-2.34375', '-2.25', '-2.15625', '-2.0625', '-1.96875', '-1.875', '-1.78125', '-1.6875', '-1.59375', '-1.5', '-1.40625', '-1.3125', '-1.21875', '-1.125', '-1.03125', '-0.9375', '-0.84375', '-0.75', '-0.65625', '-0.5625', '-0.46875', '-0.375', '-0.28125', '-0.1875', '-0.09375', '0.0', '0.09375', '0.1875', '0.28125', '0.375', '0.46875', '0.5625', '0.65625', '0.75', '0.84375', '0.9375', '1.03125', '1.125', '1.21875', '1.3125', '1.40625', '1.5', '1.59375', '1.6875', '1.78125', '1.875', '1.96875', '2.0625', '2.15625', '2.25', '2.34375', '2.4375', '2.53125', '2.625', '2.71875', '2.8125', '2.90625', '3.0', '3.09375', '3.1875', '3.28125', '3.375', '3.46875', '3.5625', '3.65625', '3.75', '3.84375', '3.9375', '4.03125', '4.125', '4.21875', '4.3125', '4.40625', '4.5', '4.59375', '4.6875', '4.78125', '4.875', '4.96875', '5.0625', '5.15625', '5.25', '5.34375', '5.4375', '5.53125', '5.625', '5.71875', '5.8125', '5.90625', '6.0', '6.09375', '6.1875', '6.28125', '6.375', '6.46875', '6.5625', '6.65625', '6.75', '6.84375', '6.9375', '7.03125', '7.125', '7.21875', '7.3125', '7.40625', '7.5', '7.59375', '7.6875', '7.78125', '7.875', '7.96875', '8.0625', '8.15625', '8.25', '8.34375', '8.4375', '8.53125', '8.625', '8.71875', '8.8125', '8.90625', '9.0', '9.09375', '9.1875', '9.28125', '9.375', '9.46875', '9.5625', '9.65625', '9.75', '9.84375', '9.9375', '10.03125', '10.125', '10.21875', '10.3125', '10.40625', '10.5', '10.59375', '10.6875', '10.78125', '10.875', '10.96875', '11.0625', '11.15625', '11.25', '11.34375', '11.4375', '11.53125', '11.625', '11.71875', '11.8125', '11.90625', '12.0', '12.09375', '12.1875', '12.28125', '12.375', '12.46875', '12.5625', '12.65625', '12.75', '12.84375', '12.9375', '13.03125', '13.125', '13.21875', '13.3125', '13.40625', '13.5', '13.59375', '13.6875', '13.78125', '13.875', '13.96875', '14.0625', '14.15625', '14.25', '14.34375', '14.4375', '14.53125', '14.625', '14.71875', '14.8125', '14.90625', '15.0', '15.09375', '15.1875', '15.28125', '15.375', '15.46875', '15.5625', '15.65625', '15.75', '15.84375', '15.9375', '16.03125', '16.125', '16.21875', '16.3125', '16.40625', '16.5', '16.59375', '16.6875', '16.78125', '16.875', '16.96875', '17.0625', '17.15625', '17.25', '17.34375', '17.4375', '17.53125', '17.625', '17.71875', '17.8125', '17.90625', '18.0', '18.09375', '18.1875', '18.28125', '18.375', '18.46875', '18.5625', '18.65625', '18.75', '18.84375', '18.9375', '19.03125', '19.125', '19.21875', '19.3125', '19.40625', '19.5', '19.59375', '19.6875', '19.78125', '19.875'])

dict_values([-51.967543919, -50.006399713])

In [22]:
def freq_selector(pickle_dict):
  invalid = {'Distance_km','sampleid', 'Channels', 'power_dBm', '#node'}
  freqs = []
  for i in pickle_dict:
    if i not in invalid:
      freqs.append(i)
  return np.array(freqs)
#freq_selector(pickle_agg_QPSK_dict)

In [80]:
def focus_selector_calc(eval_df):
  
  sensitivity_df = pd.DataFrame()

  # Find min common multipler (smallesr we can break the slots)
  non_escencial_data_col = 5
  
  number_of_data = eval_df.shape[1]-(non_escencial_data_col-1)-1
  
  # Selecting the prime factors where we can reduce the data
  #min_prime_num = min(prime_number_finder(stop_gap=100, total_num_of_data=number_of_data))
  user_prime_selection = aggreagator_selection(stop_gap=100, total_num_of_data=number_of_data)  

  cnt = 1
  current = non_escencial_data_col
  while current <= number_of_data:
    end_range = current+(user_prime_selection)
    new_df = eval_df[eval_df.columns[current:end_range]]

    
    # Add aggragated values to new df
    sensitivity_df[eval_df.columns[current]] = new_df.mean(axis = 1)
    current+=user_prime_selection
    cnt+=1
  return sensitivity_df, user_prime_selection

# Select only the columns where we observe and increase of 500%
# Return a dictionary with the row as keys and and array with positional location of columns to be selected as values
def focus_selector_range(df, threshhold=5):
  old_column = 0
  selected_data_ranges = {}
  shape = df.shape
  rows = shape[0]
  columns = shape[1]
  for row in range(rows):
    delta = 0
    col_selected_array = []  
    for col in range(columns):
      if col == 0:
        pass
      else:   
        delta = abs((df.iat[row, col])-(df.iat[row, (col-1)]))   
        if delta>=threshhold:
          col_selected_array.append(col) 
    selected_data_ranges[row] = col_selected_array
   
  return selected_data_ranges

# Return dictionary with rows and columns to be selected from sensitivity_df
def focus_selector_removing_outlayers(df, focus_dict):
  threshold_pass = True
  new_dict = {}
  unique_columns = set({})
  info_per_node = 10
  nodes_dict_of_selected_columns = {}
  node = 1

  # k = row
  # v_array = array of columns selected
  for k, v_array in focus_dict.items():
    new_array = []
    old_v = 0

    # Check if selected columns are at least 7 or more to make sure threshold is not losing data
    if len(v_array) <= 7:
      #print('Threshold on function "focus_selector_range" is to big please select and smaller threshold.') 
      threshold_pass = False
      break
    # Adding one more selection earlier for being more flexible
    elif old_v == 0:
      min_array = min(v_array)-1
      new_array.append(min_array)
    
    for v in v_array:
      if abs(v - old_v) <=5 and abs(v - old_v) > 1 and old_v!= 0:
        x = abs(v - old_v)
        for i in range(x-1):
          new_array.append(old_v+(i+1))
      # Expanding by one the sensitive area
      elif abs(v - old_v)>25:
        new_array.append(old_v+1)
        new_array.append(v-1)

      old_v = v
      new_array.append(v)

    # Adding one more selection in the end for being more flexible
    max_array = max(new_array)+1
    new_array.append(max_array)

    # Adding storage of all columns saved for later function
    unique_columns.update(new_array)
    if k == (info_per_node-1):
      nodes_dict_of_selected_columns[node] = unique_columns
      node += 1
      info_per_node = node*info_per_node
      unique_columns = set({})
    new_dict[k] = new_array
  

  return new_dict, nodes_dict_of_selected_columns, threshold_pass

#-17.28125	-16.625	-15.96875
#{0: [3, 4, 5, 6, 7, 54, 55, 56, 57]

In [24]:
def focus_selector(sensitivity_df, original_df, nodes_dict_of_selected_columns, node_selected = 1):

  total_of_columns = (sensitivity_df.shape[1])
  mid_point = total_of_columns/2

  # Get list of columns to be selected
  selected_node_columns = list(nodes_dict_of_selected_columns[node_selected])
  
  #Cleaning unwanted columns
  max_pos = selected_node_columns.index(max(selected_node_columns))
  
  #Final selected columns for selected node
  columns_to_be_selected = selected_node_columns[:max_pos+1]

  # Select only the desired columns 
  columns_to_be_selected = sorted(columns_to_be_selected)

  # Separate data in to left and right curves
  left_columns = list()
  rigth_columns = list()

  for col in columns_to_be_selected:
    if col <= mid_point:
      left_columns.append(col)
    else:
      if col != sensitivity_df.shape[1]:
        rigth_columns.append(col)


  df_left = sensitivity_df.iloc[:, left_columns]
  df_rigth = sensitivity_df.iloc[:, rigth_columns]
  
  # Add back additional info
  selection = original_df.loc[:,'sampleid']
  df_left.insert(0, 'sampleid', selection)
  df_rigth.insert(0, 'sampleid', selection)

  selection = original_df.loc[:,'Channels']
  df_left.insert(1, 'Channels', selection)
  df_rigth.insert(1, 'Channels', selection)

  selection = original_df.loc[:,'Distance_km']
  df_left.insert(2, 'Distance_km', selection)
  df_rigth.insert(2, 'Distance_km', selection)

  selection = original_df.loc[:,'power_dBm']
  df_left.insert(3, 'power_dBm', selection)
  df_rigth.insert(3, 'power_dBm', selection)

  selection = original_df.loc[:,'#node']
  df_left.insert(4, '#node', selection)
  df_rigth.insert(4, '#node', selection)

  #Select only the node desired
  node_df_left = df_left.loc[df_left['#node'] == int(node_selected)]
  node_df_rigth = df_rigth.loc[df_rigth['#node'] == int(node_selected)]

  return node_df_left, node_df_rigth

In [48]:
sensitivity_df, agg_range = focus_selector_calc(df_qpsk)

# Using threshold of 800%
focus_dict = focus_selector_range(sensitivity_df, threshhold=8)
new_dict_focus_selector, nodes_dict_of_selected_columns, threshold_pass = focus_selector_removing_outlayers(sensitivity_df, focus_dict)

if threshold_pass == True:
  print('Selected columns for each row:')
  print(len(nodes_dict_of_selected_columns[1]))
  print(nodes_dict_of_selected_columns[1])
  node_df_left, node_df_rigth = focus_selector(sensitivity_df, df_qpsk, new_dict_focus_selector, node_selected = 1)

Please select one of the following prime number to conduct the aggregation [3, 7, 21, 61] with frequencies offsets of [0.0625, 0.1875, 0.625, 1.875](PHz) respectively. (Current Freq offset is 0.03125 PHz)
Prime number to conduct the aggregation? 3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

Selected columns for each row:
366
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 244, 245, 246, 258, 259, 261, 262, 263, 264, 265, 266, 267, 268, 269, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 317, 318, 319, 320, 321, 322, 323, 330, 331, 333, 334, 335, 336, 337, 338, 339, 340, 342, 343, 347, 348, 349, 351, 352, 353, 355, 356, 358, 360, 361, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 380, 381, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 407, 408, 409, 410, 411, 412, 413, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426}

In [131]:
def focus_selector_complete(original_df, node_to_be_eval, min_desired_reduction_of_noise=0.15, aggregation = True):

  original_col_num = (original_df.shape[1]-5)
  # Decide if we want agregation
  if aggregation == True:
    sensitivity_df, agg_range = focus_selector_calc(original_df)
    max_smothed_amt = int(original_col_num/agg_range)
  else:
    sensitivity_df = original_df.copy()
    drop_cols = [0, 1, 2, 3, 4]
    sensitivity_df.drop(sensitivity_df.columns[drop_cols], axis=1, inplace=True)

    max_smothed_amt = original_col_num

  old_val_threshold = 0
  for threshhold_val in range(20):

    focus_dict = focus_selector_range(sensitivity_df, threshhold=threshhold_val)
    new_dict_focus_selector, nodes_dict_of_selected_columns, threshold_pass = focus_selector_removing_outlayers(sensitivity_df, focus_dict)

    if threshold_pass == True:

      percentage_reduced_of_noise = 1-(len(nodes_dict_of_selected_columns[1])/max_smothed_amt)

      # Find the optimal threshold
      if percentage_reduced_of_noise >= min_desired_reduction_of_noise:
        print('Reduce {} columns to {} columns.'.format(original_col_num, len(nodes_dict_of_selected_columns[1])))
        print('{}% reduced noise using a threshold of {}%.'.format(round(percentage_reduced_of_noise,2)*100, (threshhold_val*100)))
      
        print(nodes_dict_of_selected_columns[1])
        node_df_left, node_df_rigth = focus_selector(sensitivity_df, original_df, new_dict_focus_selector, node_selected = node_to_be_eval)
        break  

      # Stop in case we arraive to the maximum threshold that would be looped
      elif threshhold_val == 20:
        print('Arrived to maximum threshold to be checked. (2,000%)')
        print('Reduce {} columns to {} columns.'.format(original_col_num, len(nodes_dict_of_selected_columns[1])))
        print('{}% reduced noise using a threshold of {}%.'.format(round(percentage_reduced_of_noise,2)*100, (threshhold_val*100)))
      
        print(nodes_dict_of_selected_columns[1])
        node_df_left, node_df_rigth = focus_selector(sensitivity_df, original_df, new_dict_focus_selector, node_selected = node_to_be_eval)
        break          
    
    # In case the threholds is to big we stop and use the previos one
    elif threshold_pass == False:
      focus_dict = focus_selector_range(sensitivity_df, threshhold=old_val_threshold)
      new_dict_focus_selector, nodes_dict_of_selected_columns, threshold_pass = focus_selector_removing_outlayers(sensitivity_df, focus_dict) 
           
      percentage_reduced_of_noise = 1-(len(nodes_dict_of_selected_columns[1])/max_smothed_amt)

      print('Started to lose significant data keeping previos threshold value.')
      print('Reduce {} columns to {} columns.'.format(original_col_num, len(nodes_dict_of_selected_columns[1])))
      print('{}% reduced noise using a threshold of {}%.'.format(round(percentage_reduced_of_noise,2)*100, (old_val_threshold*100)))
    
      print(nodes_dict_of_selected_columns[1])
      node_df_left, node_df_rigth = focus_selector(sensitivity_df, original_df, new_dict_focus_selector, node_selected = node_to_be_eval)
      break  


    old_val_threshold += 1
  return node_df_left, node_df_rigth, nodes_dict_of_selected_columns

In [132]:
node_df_left, node_df_rigth, nodes_dict_of_selected_columns = focus_selector_complete(df_qpsk, node_to_be_eval=1, min_desired_reduction_of_noise=0.15, aggregation = True)

Please select one of the following prime number to conduct the aggregation [3, 7, 21, 61] with frequencies offsets of [0.0625, 0.1875, 0.625, 1.875](PHz) respectively. (Current Freq offset is 0.03125 PHz)
Prime number to conduct the aggregation? 3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

Reduce 1281 columns to 290 columns.
32.0% reduced noise using a threshold of 900%.
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 18, 19, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 56, 57, 69, 70, 74, 75, 76, 77, 78, 80, 81, 82, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 110, 111, 112, 116, 117, 118, 119, 120, 121, 123, 124, 125, 126, 127, 128, 129, 130, 133, 134, 135, 136, 137, 138, 139, 140, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 198, 199, 203, 204, 205, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 244, 245, 246, 258, 259, 260, 263, 264, 265, 266, 272, 273, 274, 275, 276, 277, 279, 280, 281, 282, 283, 284, 285, 288, 289, 291, 292, 297, 298, 300, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 317, 318, 319, 320, 321, 322, 323, 324, 330, 331, 332, 333, 334, 335, 338, 339, 340, 341, 342, 343, 344, 347, 348, 349, 351, 352, 353, 358, 359, 360, 361, 364, 365, 366, 370, 371, 374, 375, 376, 377, 380, 381, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 405, 410, 411, 416, 417, 418, 419, 420, 421, 422, 423, 424}

In [169]:
def model_focus_selector(model_df, nodes_dict_of_selected_columns, node_to_be_eval=1):
  
  # Pre-process dummy model
  model_node_row = model_df.iloc[[node_to_be_eval-1]]
  model_node_row.drop('Distance_km', axis=1, inplace=True)
  
  # Select columns that are saved in the sample data
  selected_columns = list(nodes_dict_of_selected_columns[1])
  model_node_row.iloc[:, selected_columns]
  return model_node_row

In [170]:
model_focus_selector = model_focus_selector(QPSK_dummy_df, nodes_dict_of_selected_columns, node_to_be_eval=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [171]:
display(model_focus_selector)

,-19.96875,-19.875,-19.78125,-19.6875,-19.59375,-19.5,-19.40625,-19.3125,-19.21875,-19.125,...,19.03125,19.125,19.21875,19.3125,19.40625,19.5,19.59375,19.6875,19.78125,19.875
#node,,,,,,,,,,,,,,,,,,,,,
1,-53.265193,-53.652772,-54.412841,-52.411059,-52.705496,-53.970664,-53.049249,-53.813891,-54.089213,-53.425841,...,-55.574644,-53.45745,-54.487223,-54.74286,-56.035196,-51.657352,-53.887728,-54.595005,-54.693334,-52.438729

## Display of new df

In [125]:
display(df_qpsk)

,sampleid,Channels,Distance_km,power_dBm,#node,-20,-19.96875,-19.9375,-19.90625,-19.875,...,19.71875,19.75,19.78125,19.8125,19.84375,19.875,19.90625,19.9375,19.96875,20
0,1,1,0,-2,1,-50.396272,-51.195507,-52.325501,-57.685476,-51.730270,...,-50.701297,-50.425586,-57.242411,-54.978886,-58.984450,-52.289897,-50.007652,-56.562352,-50.661037,-57.857937
1,2,1,0,-2,1,-49.464198,-62.300068,-49.878752,-45.576386,-50.935177,...,-52.919979,-61.894104,-60.851791,-53.621297,-47.427855,-57.669031,-51.735427,-56.145979,-51.259631,-46.965564
2,3,1,0,-2,1,-52.100342,-54.825356,-49.933739,-53.418630,-55.604328,...,-52.437768,-48.572056,-58.180955,-50.003337,-49.935404,-52.854423,-52.839831,-56.938673,-48.511327,-53.268586
3,4,1,0,-2,1,-61.429210,-54.973444,-45.026184,-63.731247,-45.706566,...,-56.792207,-59.099399,-45.632244,-56.454966,-46.126678,-50.632960,-48.675022,-50.899182,-64.439508,-46.552580
4,5,1,0,-2,1,-51.777530,-57.344578,-55.337847,-52.396041,-53.875442,...,-48.008932,-51.073828,-49.675923,-57.762095,-49.534186,-59.334809,-59.237640,-62.395677,-46.607586,-69.244091
5,6,1,0,-2,1,-56.348628,-48.323410,-52.791372,-48.463897,-58.102067,...,-63.216051,-50.084285,-56.313096,-61.528461,-52.478272,-50.024323,-45.508370,-47.952339,-50.220176,-47.461991
6,7,1,0,-2,1,-59.530214,-46.793059,-54.027619,-52.906629,-53.718027,...,-54.985099,-58.129401,-60.080767,-53.301332,-51.950843,-59.423618,-57.730467,-65.814835,-54.484546,-57.792294
7,8,1,0,-2,1,-52.818323,-57.433254,-50.022994,-59.626194,-58.581050,...,-63.592384,-47.710070,-50.966537,-55.692830,-47.676732,-52.455189,-68.033712,-48.267217,-51.216616,-51.337803
8,9,1,0,-2,1,-46.037314,-57.909915,-63.732986,-52.182822,-50.834665,...,-57.325800,-56.238710,-54.520079,-46.396466,-54.367238,-49.434797,-49.168688,-48.523573,-49.754015,-49.321008
9,10,1,0,-2,1,-49.648529,-50.168222,-54.061412,-59.438983,-57.902770,...,-59.078244,-59.259655,-66.459379,-48.650078,-50.762140,-47.733430,-49.128781,-54.307126,-57.668304,-56.184202
10,11,1,100,-2,2,-48.629089,-68.861167,-48.472270,-67.617741,-59.394959,...,-47.100559,-60.716022,-57.536922,-54.041038,-59.187352,-59.974434,-49.458302,-54.841534,-56.557824,-53.743315
11,12,1,100,-2,2,-50.540384,-51.383957,-52.012011,-46.205906,-44.969026,...,-51.083849,-57.945265,-55.226913,-55.829474,-52.743520,-49.448632,-51.254497,-51.626972,-58.951181,-51.820804
12,13,1,100,-2,2,-51.564343,-55.635871,-60.021043,-56.457246,-54.124027,...,-55.249470,-55.971966,-53.590833,-49.411582,-56.029660,-59.260020,-47.993086,-51.982280,-55.100183,-49.089780
13,14,1,100,-2,2,-49.497847,-51.442251,-44.702860,-53.770898,-45.278282,...,-45.725866,-53.428740,-53.067944,-50.264282,-53.719665,-56.724265,-47.738726,-61.914312,-51.887762,-47.967871
14,15,1,100,-2,2,-52.863612,-54.167630,-56.061986,-56.553619,-55.024783,...,-55.453121,-56.187829,-54.181439,-44.849302,-54.400173,-54.008189,-60.845639,-60.370745,-61.637447,-53.700213
15,16,1,100,-2,2,-56.936840,-53.024325,-55.700292,-49.284289,-53.864724,...,-56.220155,-56.350532,-49.493617,-54.289073,-50.032785,-46.341387,-50.740150,-59.242499,-46.462617,-50.908062
16,17,1,100,-2,2,-63.455847,-50.488601,-59.483285,-51.573781,-58.309642,...,-62.706376,-59.779853,-50.036511,-47.159640,-57.379135,-57.617942,-49.559714,-52.427690,-65.554322,-56.490869
17,18,1,100,-2,2,-47.253895,-46.088751,-54.822806,-44.110893,-53.556309,...,-47.517962,-52.653510,-53.954739,-46.493695,-56.861129,-48.520648,-51.090499,-60.951922,-59.883802,-54.322455
18,19,1,100,-2,2,-49.536081,-48.787196,-48.826815,-53.045269,-52.574839,...,-57.945000,-52.721511,-57.702122,-52.619287,-46.984131,-50.995831,-47.212789,-48.737090,-62.240222,-50.976823
19,20,1,100,-2,2,-47.855925,-52.061802,-46.871916,-45.563922,-47.769897,...,-51.052107,-49.316021,-60.149694,-51.560388,-60.558915,-53.351237,-58.343911,-49.174085,-54.390825,-48.279428
20,21,1,200,-2,3,-45.049097,-61.541007,-49.235885,-57.955094,-53.621374,...,-46.880742,-49.140082,-49.774758,-54.610140,-57.700178,-52.947251,-49.307882,-62.640289,-48.329648,-53.582890
21,22,1,200,-2,3,-63.998937,-62.662713,-65.368451,-56.561121,-49.835975,...,-50.618020,-49.479516,-50.552076,-44.352769,-54.052599,-62.257472,-54.198140,-55.883820,-58.690765,-48.753095
22,23,1,200,-2,3,-53.918115,-49.070636,-55.606119,-54.216250,-54.732334,...,-54.296116,-53.827447,-52.114821,-50.449251,-47.053968,-47.600884,-59.518843,-52.945290,-51.092189,-51.685315
23,24,1,200,-2,3,-51.004495,-45.681664,-52.904147,-59.754543,-47.785577,...,-64.186841,-78.064153,-47.387609,-55.536518,-58.152434,-49.421252,-52.200835,-54.870290,-60.001989,-47.143168
24,25,1,200,-2,3,-49.211054,-62.839344,-52.691557,-57.546894,-53.776833,...,-45.989710,-52.166798,-52.237626,-51.680451,-48.884950,-46.368406,-57.345027,-64.205478,-52.925226,-60.917313
25,26,1,200,-2,3,-58.581684,-54.881942,-55.507517,-51.445769,-45.203490,...,-45.252068,-54.063706,-53.852253,-55.709696,-54.994942,-48.876604,-48.348712,-52.368451,-56.330380,-66.837676
26,27,1,200,-2,3,-66.639812,-54.611519,-55.135976,-60.266939,-47.693834,...,-50.963983,-64.457581,-50.092923,-52.128825,-56.743635,-52.505388,-45.976969,-55.283129,-61.166727,-60.909421
27,28,1,200,-2,3,-56.327621,-48.315692,-58.517774,-69.899856,-56.771867,...,-50.295466,-49.258622,-50.598960,-53.289351,-54.500024,-50.374485,-51.878438,-58.796903,-52.179361,-49.151360
28,29,1,200,-2,3,-57.468149,-55.681589,-51.269341,-46.477414,-43.773965,...,-46.299314,-60.861729,-55.208476,-54.822418,-58.055203,-54.795384,-49.609989,-58.888783,-65.349184,-48.981452
29,30,1,200,-2,3,-54.068805,-51.057188,-50.792809,-51.101571,-52.028359,...,-60.889816,-56.649617,-48.337526,-51.637832,-58.017354,-48.428401,-50.388747,-56.447658,-61.470106,-48.186270

In [127]:
display(node_df_left)

,sampleid,Channels,Distance_km,power_dBm,#node,-19.90625,-17.09375,-17.09375,-17.0,-16.90625,...,-8.1875,-8.09375,-8.0,-7.90625,-7.8125,-3.5,-3.40625,-3.3125,-1.4375,-1.34375
0,1,1,0,-2,1,-52.303029,-48.772526,-48.772526,-54.742685,-36.656628,...,-11.862890,-11.773270,-11.699386,-13.364115,-10.374263,-9.865307,-12.706191,-10.222072,-12.892608,-23.257932
1,2,1,0,-2,1,-47.886431,-57.580086,-57.580086,-47.423069,-42.424718,...,-13.559454,-6.916214,-7.921194,-17.081841,-15.900334,-8.451588,-18.492663,-7.809080,-21.272116,-13.436942
2,3,1,0,-2,1,-53.413053,-51.777359,-51.777359,-55.519906,-40.331345,...,-7.320193,-7.841834,-16.710080,-10.676788,-9.682356,-13.352460,-13.457185,-20.614436,-9.312302,-7.645882
3,4,1,0,-2,1,-55.416034,-50.369373,-50.369373,-52.365295,-39.689857,...,-10.548594,-13.436119,-8.177300,-12.036203,-6.602822,-9.336863,-9.864113,-7.589984,-10.819315,-6.485303
4,5,1,0,-2,1,-51.357811,-52.399994,-52.399994,-48.656486,-45.332550,...,-11.465099,-9.103852,-11.340041,-13.817394,-11.784576,-16.316723,-8.675929,-14.949353,-15.676457,-12.023907
5,6,1,0,-2,1,-56.986203,-53.088413,-53.088413,-52.739716,-41.527212,...,-10.347583,-11.031600,-9.890019,-5.832659,-8.061852,-11.826187,-9.361441,-11.186809,-10.786638,-10.937550
6,7,1,0,-2,1,-55.110416,-53.060505,-53.060505,-51.373730,-36.747316,...,-10.405066,-13.412716,-17.596734,-14.700386,-13.342184,-11.070622,-16.388545,-12.229367,-16.255705,-8.704685
7,8,1,0,-2,1,-57.654375,-52.109603,-52.109603,-52.184119,-41.995276,...,-8.234087,-12.386459,-9.036126,-13.695634,-11.397644,-12.616122,-9.893070,-9.681320,-7.831565,-12.580407
8,9,1,0,-2,1,-51.082671,-62.114488,-62.114488,-51.146242,-45.738347,...,-8.578430,-8.768349,-16.743871,-9.009297,-7.828060,-13.807667,-10.895276,-11.603467,-11.080146,-15.947825
9,10,1,0,-2,1,-55.317702,-49.977437,-49.977437,-53.632731,-41.440904,...,-11.840035,-10.791572,-7.919488,-12.012272,-10.945221,-8.180704,-6.402204,-12.827098,-12.766650,-6.498995

In [128]:
display(node_df_rigth)

,sampleid,Channels,Distance_km,power_dBm,#node,1.09375,1.1875,1.28125,1.375,1.46875,...,16.1875,16.28125,16.375,16.46875,16.5625,16.65625,16.75,16.84375,16.9375,17.03125
0,1,1,0,-2,1,-15.532451,-12.782827,-11.634255,-11.309245,-10.497544,...,-22.566289,-24.014308,-21.834965,-26.147347,-28.878330,-32.292002,-39.036813,-45.914568,-58.363155,-59.623819
1,2,1,0,-2,1,-6.793530,-16.404275,-18.497790,-12.414554,-13.225515,...,-17.312504,-18.663761,-20.900559,-33.958133,-27.447775,-28.888749,-33.991021,-35.043049,-52.831342,-50.364353
2,3,1,0,-2,1,-9.308353,-15.794087,-10.206822,-8.287643,-11.569706,...,-21.809419,-24.431803,-23.392801,-29.515562,-28.048715,-41.984070,-36.358041,-43.562258,-53.648971,-59.850274
3,4,1,0,-2,1,-13.402242,-11.540049,-7.799136,-6.828393,-10.443705,...,-15.378658,-22.540378,-19.368983,-32.899800,-29.986142,-32.124180,-32.133223,-35.803068,-50.027618,-48.527389
4,5,1,0,-2,1,-10.317502,-8.663894,-13.822022,-12.018517,-8.466560,...,-24.317009,-29.179081,-23.825927,-35.281309,-26.564474,-34.755612,-33.088815,-45.520126,-58.915611,-55.614354
5,6,1,0,-2,1,-11.013595,-9.307257,-17.672376,-8.144004,-5.326643,...,-23.831825,-20.048262,-24.184180,-18.566131,-29.310189,-32.669814,-38.345662,-45.991183,-52.339505,-56.069314
6,7,1,0,-2,1,-12.586487,-15.106946,-17.646424,-8.335608,-16.179043,...,-24.161583,-29.947806,-24.643085,-26.980821,-30.848676,-30.027917,-33.820627,-46.659492,-53.124438,-56.092255
7,8,1,0,-2,1,-11.590770,-8.334346,-8.100593,-11.651023,-7.739214,...,-23.363123,-24.181440,-25.874168,-27.913875,-26.314799,-29.418872,-32.742499,-42.465140,-54.956162,-49.875978
8,9,1,0,-2,1,-12.136685,-14.051588,-10.955201,-6.428407,-12.225869,...,-16.708635,-23.166735,-22.929997,-24.742206,-27.338148,-32.222912,-28.605615,-47.517989,-50.776489,-52.326873
9,10,1,0,-2,1,-15.542431,-12.204255,-12.837220,-8.146792,-6.946321,...,-23.232231,-22.261069,-24.669497,-26.595822,-27.956406,-30.736305,-33.799474,-36.474256,-55.067179,-53.099574

In [36]:
display(QPSK_dummy_df)

,Distance_km,-19.96875,-19.875,-19.78125,-19.6875,-19.59375,-19.5,-19.40625,-19.3125,-19.21875,...,19.03125,19.125,19.21875,19.3125,19.40625,19.5,19.59375,19.6875,19.78125,19.875
#node,,,,,,,,,,,,,,,,,,,,,
1,0.0,-53.265193,-53.652772,-54.412841,-52.411059,-52.705496,-53.970664,-53.049249,-53.813891,-54.089213,...,-55.574644,-53.457450,-54.487223,-54.742860,-56.035196,-51.657352,-53.887728,-54.595005,-54.693334,-52.438729
2,100.0,-52.568357,-51.731604,-54.561017,-54.704586,-53.729298,-53.191874,-52.556893,-53.251489,-53.559093,...,-52.079893,-54.024187,-53.376551,-53.561515,-53.628489,-53.416521,-53.282656,-54.797403,-53.550991,-53.279212
3,200.0,-54.988021,-52.898298,-54.227910,-53.253689,-52.783244,-52.414599,-51.787709,-51.678843,-52.072996,...,-54.215778,-53.147360,-53.885240,-52.387626,-52.193880,-53.277343,-53.192047,-53.694075,-53.411451,-52.683480

## Liinear Regresion

In [35]:
node_df_left
node_df_rigth

print(node_df_left.shape[0])
print(node_df_left.shape[1])

def linear_regresion(node_df_left, node_df_rigth, model_node_df_left, model_node_df_rigth,):

  model = LinearRegression()
  for row in range(node_df_left.shape[0]):
    row_data_sample = node_df_left.iloc[row].to_numpy()
    row_data_sample = row_data_sample[5:]

    x = np.array(row_data_sample).reshape((-1, 1))
    y = np.array([5, 20, 14, 32, 22, 38])

10
125
[-51.30576007 -52.30302911 -53.43767923 -50.90120175 -52.72459962
 -55.60573356 -56.92678496 -52.08183054 -59.79122085 -51.14052998
 -53.28293694 -65.17138186 -50.61843905 -52.25920961 -52.0474962
 -53.39465667 -51.94836526 -54.12993201 -51.46959223 -58.78131445
 -49.81608072 -48.7725261  -54.74268522 -36.65662819 -34.30167549
 -33.08356681 -27.86740313 -24.37830187 -22.80113223 -21.77228871
 -23.55129939 -24.01074921 -20.77485773 -18.26917074 -16.79971197
 -18.67369828 -16.56225477 -13.54139091 -16.98917354 -17.60622392
 -18.77113341 -20.95884836 -14.97089614 -13.74392686  -9.54969461
 -15.48502632 -10.89193203 -14.73225638 -14.20265232 -12.0420684
 -15.4291232  -14.82460644 -11.4813751  -16.36439289 -13.92484198
 -13.39962664 -17.85655561 -12.8573529  -11.8513226  -13.87863923
 -13.11027555 -15.24708948 -16.22347508 -13.5756158  -17.00699624
 -18.17138245 -13.96068409 -12.55633213 -15.46524918 -15.6620515
 -14.64249218 -15.26007168  -9.45962065 -16.25841196  -7.56213148
 -11.69450033  -6.15504729 -11.37860937 -23.22378259 -15.05348732
 -13.49301503  -7.33436015 -10.60093938 -14.35214456 -11.36030407
 -13.76202624 -19.38848389 -11.86288979 -11.77327025 -11.69938603
 -13.3641146  -10.37426283  -9.90917339 -13.84621556  -9.54471376
 -13.94655427 -12.42969013 -11.15736364 -12.33211721 -10.66431055
  -9.06780692 -25.00176478 -13.65068668  -9.20678571  -7.18051626
 -12.13288174 -16.49914397  -7.45554901  -9.86530698 -12.70619106
 -10.22207205 -17.94856296  -9.90451689 -11.53554865 -10.93794679
 -12.89260783 -23.25793153 -14.7131148  -13.33292382 -12.19652754]