<a href="https://colab.research.google.com/github/R0N3ldrt/Thesis/blob/main/spectrum-1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading Enviroment

## Loading Drive and folders

In [13]:
# BLOQUE PARA USAR DESDE COLAB

# Google drive loading as work station for local-usage of the files.
from google.colab import drive
drive.mount('/content/gdrive',force_remount= True)

#-----------------------------------------------------------------------------

Mounted at /content/gdrive

In [14]:
# Lista para cambiar los paths rapido.
workers = ["Ronald", "Local"]

# Cambiar el numero aqui para cambiar los paths.
worker = workers[0]

if worker == "Ronald":
  path= "/content/gdrive/MyDrive/Thesis_Workstation/ANN_dataset"
else: path = os.getcwd()

## Loading Necesary Libraries

In [264]:
# Importing necesary libraries
import os, time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import pickle

import warnings
warnings.simplefilter("ignore", UserWarning)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Loading Data and Pre-Procesing

In [90]:
data_path=path+"/Spectrum"

qpsk_path="/QPSK/A.10hops100km/"
qam_path="/16QAM/A.10hops100km"

#file_name="/dataSet_Spectrum_Samples_QPSK_37GHz_LongHaul_output_10x100.xlsx"
file_name="/QPSK_dummy.xlsx"
# Skipping first row since only contain "Frequency" headers
df_qpsk=pd.read_excel(data_path+qpsk_path+file_name, sheet_name = "Sheet1", skiprows=1)

#file_name="/dataSet_Spectrum_Samples_16QAM_75GHz_LongHaul_output_10x100.xlsx"
file_name="/16QAM_dummy.xlsx"
df_qam=pd.read_excel(data_path+qam_path+file_name, sheet_name = "Sheet1", skiprows=1)

print(df_qpsk.head(1))
#print(df_qam.head(3))

#Diff in column 5 to 1,286 0.03125

   sampleid  Channels  Distance_km  power_dBm  #node        -20  -19.96875  \
0         1         1            0         -2      1 -50.396272 -51.195507

    -19.9375  -19.90625   -19.875  ...   19.71875      19.75   19.78125  \
0 -52.325501 -57.685476 -51.73027  ... -50.701297 -50.425586 -57.242411

     19.8125  19.84375     19.875   19.90625    19.9375   19.96875         20
0 -54.978886 -58.98445 -52.289897 -50.007652 -56.562352 -50.661037 -57.857937

[1 rows x 1286 columns]

In [77]:
#dump_file = dict desireed to be saved
#filename = just the name of the file (file saved on "pickle_folder")

def pickle_out(dump_file, filename):
  filepath = path+"/pickle_folder/"+str(filename)+".pickle"
  pickleout = open(filepath, "wb")
  pickle.dump(dump_file, pickleout)
  pickleout.close()

def pickle_in(filename):
  filepath = path+"/pickle_folder/"+str(filename)+".pickle"
  picklein = open(filepath, "rb")
  loaded_dict = pickle.load(picklein)
  return loaded_dict

In [ ]:
%%----------------------------------------------%%
%%	Computes starting and end line of a file	%%
%%----------------------------------------------%%
%% 20170530

function [X_agg, Y_agg]=aggregator(ChannelData, agg)
% Extracting X:Freq, Y:Power
X=ChannelData(:,1);
Y=ChannelData(:,2);
%     Y = 10 * log10 (Y./10^-3);  % translate to dBm
Y = 10.^(Y/20);

% Initializing aggregated
X_agg=X(1);
Y_agg=Y(1);
cur=1;
while cur<=length(Y)-agg
    X_agg=[X_agg; mean(X(cur:cur+agg-1))];
    Y_agg=[Y_agg; mean(Y(cur:cur+agg-1))];
    cur=cur+agg;
end

Y_agg = 20*log10(Y_agg);

In [106]:
x=1281
prime_num = []
i=2
while i <= 20:
  if (x%i==0):
    prime_num.append(i)
  i+=1
print(prime_num)

[3, 7]

In [287]:
def prime_number_finder(stop_gap, total_num_of_data):
  prime_nums = []
  i=2
  while i <= stop_gap:
    if (total_num_of_data % i==0):
      prime_nums.append(i)
    i+=1
  return prime_nums

def aggreagator_selection(stop_gap=25, total_num_of_data=1281):
  current_freq_offset = 0.03125
  
  # Find the prime numbers where the total_num_of_data is divisible
  prime_nums = prime_number_finder(stop_gap, total_num_of_data)
  
  # Find the offsets of the new aggregators
  new_freq_offsets = []
  for nums in prime_nums:
    freq_offset = current_freq_offset*(nums-1)
    new_freq_offsets.append(freq_offset)

  # Ask the user for the desired aggregator
  print('Please select one of the following prime number to conduct the aggregation {} with frequencies offsets of {}(PHz) respectively. (Current Freq offset is 0.03125 PHz)'.format(prime_nums, new_freq_offsets))
  while True:
    user_selection = input('Prime number to conduct the aggregation? ')
    if int(user_selection) not in prime_nums:
      print('Please select one of the available prime numbers. (Current selection is not avaliable)')
    else:
      break
  return int(user_selection)

def aggreagator(df, stop_gap=25, total_num_of_data=1281):
  agg_num = aggreagator_selection(stop_gap, total_num_of_data)
  
  # Creating new df of aggregate values
  agg_df = pd.DataFrame()
  agg_df = df[df.columns[0:5]]

  agg=0
  loop_cnt=0
  init_column_cnt = 5
  while agg<=total_num_of_data:
    loop_cnt+=1
    # Obtain current last columns stop
    agg=agg_num+init_column_cnt
    # Select working columns
    new_df = df[df.columns[init_column_cnt:agg]]

    init_column_cnt += (agg_num)
    #print(init_column_cnt)
    # Get average of freq values for new header
    headers = list(new_df.columns.values)
    headers_array = np.asarray(headers)
    new_header_name = np.mean(headers_array)

    # Add aggragated values to new df
    agg_df[str(new_header_name)] = new_df.mean(axis = 1)

  return agg_df

In [289]:
aggreagator(df_qpsk, stop_gap=100, total_num_of_data=1281)

Please select one of the following prime number to conduct the aggregation [3, 7, 21, 61] with frequencies offsets of [0.0625, 0.1875, 0.625, 1.875](PHz) respectively. (Current Freq offset is 0.03125 PHz)
Prime number to conduct the aggregation? 61

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,sampleid,Channels,Distance_km,power_dBm,#node,-19.0625,-17.15625,-15.25,-13.34375,-11.4375,...,1.90625,3.8125,5.71875,7.625,9.53125,11.4375,13.34375,15.25,17.15625,19.0625
0,1,1,0,-2,1,-53.804949,-44.306086,-16.574628,-13.615448,-13.926483,...,-10.713181,-10.496126,-10.377678,-11.072486,-12.943643,-12.336019,-13.707853,-15.650885,-46.057569,-54.848801
1,2,1,0,-2,1,-52.375885,-42.681866,-15.138796,-12.863640,-11.560245,...,-11.133678,-10.494405,-10.462024,-12.350113,-10.565496,-10.371969,-11.111314,-15.859558,-44.311170,-52.821147
2,3,1,0,-2,1,-52.581905,-44.272650,-16.857000,-11.753784,-11.593691,...,-11.405809,-12.085264,-11.300339,-11.478288,-10.951154,-11.532182,-12.560421,-16.540799,-45.545930,-53.456004
3,4,1,0,-2,1,-52.386376,-45.098202,-14.811490,-11.821256,-10.869422,...,-9.650626,-10.923845,-9.887240,-9.971972,-10.433689,-10.792292,-11.571236,-15.682232,-43.419683,-53.404662
4,5,1,0,-2,1,-54.871912,-44.142358,-17.096756,-14.276421,-13.267032,...,-11.675862,-12.178902,-13.248532,-12.702143,-13.850087,-13.428247,-13.553034,-17.932277,-45.648298,-55.026090
5,6,1,0,-2,1,-55.497126,-43.207393,-15.769189,-12.176751,-11.335044,...,-10.727545,-10.001518,-11.795389,-10.404604,-11.462350,-11.892766,-13.087806,-15.174306,-44.022693,-52.753036
6,7,1,0,-2,1,-54.814981,-45.492546,-17.609302,-14.993739,-13.917753,...,-13.674266,-12.325039,-13.772509,-13.371145,-13.532010,-14.262876,-13.413426,-16.708054,-45.824365,-55.392717
7,8,1,0,-2,1,-53.210537,-43.893217,-16.634406,-12.830970,-11.986065,...,-12.006364,-10.525555,-11.928533,-11.755140,-12.153293,-12.004940,-11.904290,-16.549609,-44.234164,-54.655646
8,9,1,0,-2,1,-54.166641,-45.981355,-15.215055,-12.994787,-11.749892,...,-11.989557,-11.323412,-12.278498,-10.613809,-11.661795,-12.241891,-13.046947,-17.381429,-44.213922,-53.731456
9,10,1,0,-2,1,-52.023354,-42.201806,-14.768502,-13.888901,-10.753751,...,-10.894459,-11.130377,-11.046178,-10.543585,-10.420634,-12.634512,-11.982764,-14.746965,-43.103213,-53.007964
10,11,1,100,-2,2,-54.770533,-45.331941,-20.371937,-15.410559,-14.723415,...,-10.859978,-10.555607,-10.438809,-11.057739,-13.174796,-12.848413,-15.246284,-19.417284,-46.948471,-52.392459
11,12,1,100,-2,2,-52.281852,-43.616165,-18.871315,-14.654814,-12.177187,...,-11.316307,-10.546340,-10.525224,-12.354308,-10.718579,-10.902011,-12.590303,-19.629750,-43.472927,-52.766879
12,13,1,100,-2,2,-53.194110,-45.519981,-20.494752,-13.453779,-12.243690,...,-11.353384,-12.052419,-11.195067,-11.436925,-10.984760,-11.946328,-14.053963,-20.024624,-46.335606,-54.269271
13,14,1,100,-2,2,-51.627415,-45.095644,-18.440735,-13.423896,-11.510275,...,-9.556356,-10.930582,-9.803353,-9.832452,-10.398500,-11.148275,-13.041804,-19.452691,-43.811082,-52.013134
14,15,1,100,-2,2,-53.716440,-46.102980,-20.936449,-16.047856,-13.926060,...,-11.776077,-12.195131,-13.255874,-12.678528,-13.880134,-13.878284,-15.068217,-21.935183,-45.572025,-54.355088
15,16,1,100,-2,2,-52.242886,-45.174515,-19.364425,-13.809158,-11.896268,...,-10.704560,-10.003614,-11.707590,-10.314252,-11.443182,-12.241694,-14.532953,-18.843421,-45.387928,-51.141420
16,17,1,100,-2,2,-55.031710,-46.162357,-21.370195,-16.632128,-14.513675,...,-13.699651,-12.337698,-13.706368,-13.332903,-13.515792,-14.615032,-14.888035,-20.474679,-48.116444,-54.957099
17,18,1,100,-2,2,-53.097592,-46.374475,-20.250117,-14.536066,-12.661487,...,-12.025866,-10.493713,-11.890535,-11.747513,-12.211993,-12.349614,-13.362322,-20.233196,-44.811348,-54.318116
18,19,1,100,-2,2,-53.277685,-45.593676,-18.887078,-14.667911,-12.378456,...,-11.929166,-11.288937,-12.221869,-10.531349,-11.682504,-12.658966,-14.509492,-20.913037,-45.475231,-53.911103
19,20,1,100,-2,2,-51.532916,-43.895299,-18.602926,-15.465186,-11.369353,...,-10.937139,-11.176028,-10.944611,-10.469618,-10.450877,-13.008717,-13.518110,-18.408408,-44.257482,-52.035362
20,21,1,200,-2,3,-53.446383,-47.404618,-24.038871,-17.133420,-15.365068,...,-10.881296,-10.556662,-10.420407,-11.099753,-13.062633,-13.294298,-16.767256,-23.170336,-48.045962,-53.431632
21,22,1,200,-2,3,-52.798609,-47.119949,-22.642046,-16.463774,-12.940373,...,-11.323765,-10.629421,-10.616083,-12.383727,-10.941031,-11.382192,-14.206873,-23.680146,-46.233093,-52.446182
22,23,1,200,-2,3,-52.147766,-47.278489,-24.063352,-15.179462,-12.863219,...,-11.302958,-12.119241,-11.097991,-11.388944,-10.942839,-12.284839,-15.556692,-23.921518,-47.406563,-51.911802
23,24,1,200,-2,3,-51.989651,-46.447530,-22.121153,-15.200727,-12.177040,...,-9.584203,-10.984581,-9.740280,-9.792824,-10.519273,-11.576777,-14.534692,-23.168787,-46.955665,-52.771717
24,25,1,200,-2,3,-54.032410,-48.480934,-24.530024,-17.731084,-14.684953,...,-11.773222,-12.192051,-13.241084,-12.574662,-13.946132,-14.350121,-16.647100,-25.527050,-48.759100,-54.574168
25,26,1,200,-2,3,-51.754553,-44.685199,-23.061278,-15.491384,-12.570626,...,-10.639124,-10.024688,-11.724579,-10.262349,-11.514670,-12.605815,-16.103252,-22.430771,-46.746242,-52.505738
26,27,1,200,-2,3,-54.189926,-48.067975,-25.108804,-18.187292,-15.275311,...,-13.674362,-12.304498,-13.643935,-13.359216,-13.468842,-15.004293,-16.274808,-24.181744,-48.568620,-54.177020
27,28,1,200,-2,3,-52.595274,-47.727826,-23.954649,-16.227344,-13.385348,...,-12.037060,-10.524047,-11.921361,-11.770289,-12.297745,-12.840829,-14.850738,-24.164955,-46.909881,-52.334675
28,29,1,200,-2,3,-52.132607,-46.795603,-22.671774,-16.343351,-13.091602,...,-11.915165,-11.228653,-12.130257,-10.396177,-11.698470,-12.940259,-16.000521,-24.560682,-46.540394,-53.489619
29,30,1,200,-2,3,-52.298037,-44.521223,-22.583169,-17.097861,-12.076905,...,-10.873488,-11.191551,-10.917633,-10.420654,-10.489016,-13.380583,-14.951289,-21.982139,-45.994892,-52.346444

##Dummy Model

In [74]:
def get_dummy_spectrum(df):
  new_df = df.groupby(['#node']).mean()
  new_df.drop(['sampleid', 'Channels', 'power_dBm'], axis = 1, inplace = True)
  dummy_dict = new_df.to_dict()
  
  return new_df, dummy_dict

In [75]:

#new_df = 
#node	| Distance_km	|-20	      |-19.96875	|-19.9375																						
#1	    | 0.0	        |-52.955056	|-54.126681	|-52.713840	
#2	    | 100.0	      |-51.813386	|-53.194155	|-52.697528
#3	    | 200.0	      |-55.626777	|-54.634329	|-54.702958

#dummy_dict.keys() = dict_keys(['Distance_km', -20, -19.96875, -19.9375, -19.90625, -19.875, -19.84375...
#dummy_dict[-20].values() = dict_values([-52.955056039, -51.813386274, -55.626777088])

In [82]:
dummy_df, dummy_dict = get_dummy_spectrum(df_qpsk)

In [86]:
pickle_out(dummy_dict, "dummy_spectrum_full_QPSK")

In [87]:
pickle_dummy_dict = pickle_in("dummy_spectrum_full_QPSK")

In [88]:
pickle_dummy_dict['Distance_km'].values()

dict_values([0.0, 100.0, 200.0, 300.0, 400.0, 500.0, 600.0, 700.0, 800.0, 900.0, 1000.0])